/*============== Básicos ==============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --primary-color: #007bff;
  --white-color: #ffffff;
}

body {
  background-color: #ebeaea;
}

ul {
  list-style: none;
}

/*============== Pesquisa e Filtros ==============*/

.title-primary {
  margin: 0px auto 40px auto;
  text-align: center;
  font-size: 2.5rem;
  max-width: 40ch;
  color: #010b16;
  font-family: 'Montserrat';
}

.input-search {
  max-width: 380px;
  width: 100%;
  height: 45px;
  background-color: #fffefe;
  margin: 10px 0px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 1rem;
  position: relative;
  margin: auto;
  margin-bottom: 30px;
  box-shadow: 5px 7px 9px rgba(0, 0, 0, 0.253);
  transition-duration: 0.5s;
}

.input-search:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
}

.filter {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
  height: 45px;
  width: 350px;
  margin: auto;
  display: block;
}

.header {
  max-width: 1100px;
  margin: 50px auto;
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.item {
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  padding: 8px 16px;
  color: var(--primary-color);
  font-size: 1.125rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.item:hover,
.item.active {
  color: var(--white-color);
  background: var(--primary-color);
}

/*==============Cardápio==============*/

.gallery {
  padding: 0px calc((100% - 1100px) / 4);
  margin: 0px auto 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  justify-content: center !important;
  align-content: center !important;
}

.gallery img {
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s ease;
  align-self: center;
}

.imagem-cardapio {
  width: max-content;
}

.gallery .image.hide {
  display: none;
}

.gallery .image.show {
  display: block;
  animation: animate 0.4s ease;
}

.gallery .image {
  background: rgb(247, 247, 247);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 5px 7px 9px rgba(0, 0, 0, 0.253);
  max-width: 310px;
  max-height: 450px;
}

.gallery .image .imagem-cardapio {
  display: flex;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
  max-height: 50%;
  text-align: center;
}

.gallery .image .imagem-cardapio img {
  max-width: 280px;
}

.image h2 {
  margin: 25px 0 15px;
  color: #333;
  font-size: 22px;
  /* font-weight: lighter; */
}

.image p {
  margin-bottom: 20px;
  line-height: 24px;
}

.image div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.image div span:first-child {
  font-size: 24px;
}

.gallery .image span:hover img {
  transform: scale(1.1);
}

/*=================== Carrinho ===================*/

.button {
  --background: var(--primary-color);
  --text: #fff;
  --cart: #fff;
  --tick: var(--background);
  position: relative;
  border: none;
  top: -5px;
  background: none;
  padding: 8px 10px 8px 15px;
  border-radius: 8px;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-mask-image: -webkit-radial-gradient(rgb(255, 255, 255), black);
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  min-width: 120px;
  color: var(--text);
  background: var(--primary-color);
  transform: scale(var(--scale, 1));
  transition: transform .4s cubic-bezier(.36, 1.01, .32, 1.27);
}

.button:active {
  --scale: .95;
}

.button span {
  font-size: 14px !important;
  /* font-weight: 500; */
  display: block;
  position: relative;
  padding-left: 25px;
  margin-left: -8px;
  line-height: 25px;
  transform: translateY(var(--span-y, 0));
  transition: transform .7s ease;
}

.button:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
}

.button span:after {
  --w: 14px;
  --h: 2px;
  --l: 2px;
  --t: 12px;
}

.button span:before,
.button span:after {
  content: '';
  width: var(--w, 2px);
  height: var(--h, 14px);
  border-radius: 1px;
  position: absolute;
  left: var(--l, 8px);
  top: var(--t, 6px);
  background: currentColor;
  transform: scale(.75) rotate(var(--icon-r, 0deg)) translateY(var(--icon-y, 0));
  transition: transform .65s ease .05s;
}

.cart {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -13px 0 0 -18px;
  transform-origin: 12px 23px;
  transform: translateX(-120px) rotate(-18deg);
}

.cart:before,
.cart:after {
  content: '';
  position: absolute;
}

.cart:before {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 2px var(--cart);
  bottom: 0;
  left: 9px;
  filter: drop-shadow(11px 0 0 var(--cart));
}

.cart:after {
  width: 16px;
  height: 9px;
  background: var(--cart);
  left: 9px;
  bottom: 7px;
  transform-origin: 50% 100%;
  transform: perspective(4px) rotateX(-6deg) scaleY(var(--fill, 0));
  transition: transform 1.2s ease var(--fill-d);
}

svg {
  z-index: 1;
  width: 36px;
  height: 26px;
  display: block;
  position: relative;
  fill: none;
  stroke: var(--cart);
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

polyline:last-child {
  stroke: var(--tick);
  stroke-dasharray: 10px;
  stroke-dashoffset: var(--offset, 10px);
  transition: stroke-dashoffset .4s ease var(--offset-d);
}

.button.loading {
  --scale: .95;
  --span-y: -40px;
  --icon-r: 180deg;
  --fill: 1;
  --fill-d: .8s;
  --offset: 0;
  --offset-d: 1.73s;
}

.button.loading .cart {
  animation: cart 3.4s linear forwards .2s;
}

@keyframes cart {
  12.5% {
    transform: translateX(-60px) rotate(-18deg);
  }

  25%,
  45%,
  55%,
  75% {
    transform: none;
  }

  50% {
    transform: scale(.9);
  }

  44%,
  56% {
    transform-origin: 12px 23px;
  }

  45%,
  55% {
    transform-origin: 50% 50%;
  }

  87.5% {
    transform: translateX(70px) rotate(-18deg);
  }

  100% {
    transform: translateX(140px) rotate(-18deg);
  }
}

/*============== Animações ==============*/

@keyframes animate {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}

/*============== Resposivo ==============*/

@media (max-width: 1300px) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-content: center !important;
    margin: 0px 50px;
  }
}

@media (max-width: 910px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  .gallery .image {
    width: 370px;
    height: 500px;
  }
}

@media (max-width: 650px) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px 10px;
    gap: 10px;
    justify-items: center
  }

  .gallery .image {
    max-width: 190px;
    transition: 0.6 ease-in-out;
    max-height: 280px;
    padding: 10px;
  }

  .gallery .image .imagem-cardapio {
    max-height: 135px;
  }

  .gallery .image .imagem-cardapio img {
    max-width: 200px;
  }

  .image div span:first-child {
    font-size: 16px;
  }

  .gallery h2 {
    font-size: 17px;
    margin: 15px 0px 8px;
  }

  .gallery p {
    font-size: 13px;
    display: none;
  }

  .button {
    width: 10px !important;
    padding-top: 8px;
  }

  .button span {
    line-height: 25px;
    font-size: 12px !important;
  }

  .gallery .image .compra {
    display: grid;
    grid-template-rows: 35px 10px;
  }

  .input-search {
    width: 90%;
  }
}

@media (max-width: 550px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
    margin: 15px;
    justify-items: center
  }
  .gallery .image {
    max-width: 200px !important;
    max-height: 310px;
  }
  .gallery .image .imagem-cardapio {
    max-width: 200px;
    max-height: 160px;
  }

  .gallery .image .imagem-cardapio img {
    max-width: 200px;
  }
}

@media (max-width: 400px) {
  .gallery {
    grid-template-columns: 1fr 1fr;
    justify-items: center
  }

  .gallery .image {
    width: 170px;
    height: 265px;
  }

  .gallery .image .imagem-cardapio {
    max-width: 190px !important;
    max-height: 125px;
  }

  .imagem-cardapio img {
    width: 160px;
  }
}

@keyframes btn {
  0% {
    transform: scale(1); 
  } 100% {
    transform: scale(1.05); 
  }
}