body {
    font-family: 'Montserrat';
    background: linear-gradient(#ebeaea, rgb(168, 168, 168));
}       

footer { 
    background: linear-gradient(#e0591a, #e0591a);
    align-content: space-between;
    color: #FFF;
    width: 100%;   
    text-align:center;
    line-height: 25px;
    margin: 0; 
    padding-top: 15px;
    box-shadow: 7px 9px 12px rgba(0, 0, 0, 0.253) inset;
    font-size: 14px;
}

.rodape {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.rodape h2{
    font-size: 1.2rem
}

.direitos {
    margin-top: 10px;
    
}
section {
    background: linear-gradient(#ebeaea, rgb(168, 168, 168));
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
    padding: 80px 20px;
}

section .content {
    max-width: 450px;
}

section .content h1 {
    font-size: 3rem;
    color: rgb(18, 41, 56);
}

section .content p {
    font-size: 18px;
    margin: 10px 0;
    color: rgb(68, 68, 68);
}

section .content a {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color: black;
    background-color: #e0591a;;
    padding: 15px 20px;
    border-radius: 5px;
    color: #fff;
}

section img {
    max-width: 600px;
    object-fit: cover;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}

section img:hover {
    animation: btn 1s infinite alternate ease-in-out; 
}

section .content a:hover {
    animation: btn 0.8s infinite alternate ease-in-out; 
}


@media (max-width:600px){
    section img {
        max-width: 350px;
        object-fit: cover;
        border-radius: 20%;
        -webkit-border-radius: 10%;
        -moz-border-radius: 10%;
        -ms-border-radius: 10%;
        -o-border-radius: 10%;
    }

    footer {
        font-size: 12px;
    }

    footer p {
        margin: 0;
        padding: 0;
    }

    footer div {
        grid-template-columns: 1fr 1fr;
    }
}
  
  @keyframes btn {
    0% {
      transform: scale(1); 
    } 100% {
      transform: scale(1.05); 
    }
  }
 
