dialog::backdrop {
    background-color: rgb(0 0 0 / .5);
}

dialog {
    border: none;
    border-radius: .5rem;
    box-shadow: 0 0 1em rgb((0 0 0 / .3), green, blue);
    max-width: 400px;
    position: relative;
    margin: auto;
    padding: 20px;
    background-color: #ebeaea;
    position: fixed;
}

button {
    background-color: #007bff;
    padding: 5px 25px;
    margin-top: 5px;
    border-radius: 8px;
    display: block;
    color: white;
    font-size: 18px;
    border: 2px solid #007bff;
    transition-duration: 0.6s;
}

button:hover {
    background-color: white;
    color: #007bff;
    transition-duration: 0.6s;
    cursor: pointer;
}

dialog .image img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
dialog .image span {
    font-size: 25px !important;
    width: 200px;
}

@media (max-width: 500px) {
    dialog{
        max-width: 340px;
    }
}