html, body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background: linear-gradient(#ebeaea, rgb(245, 151, 97));
	font-family: 'Montserrat', sans-serif;
}

main {
	margin: 100px auto;
    background-image: linear-gradient(#eff2f3,#cccccc);
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 700px;
    box-shadow: 6px 9px 12px rgba(0, 0, 0, 0.247);
}
.tab 
	{
	border: 1px solid #ccc;
	background-color: #e0591a;
	width: 95%;
	height: 400px;
	}

.tab button 
	{
	display: block;
	background-color: inherit;
	color: rgb(252, 252, 252);
	padding: 30px 16px;
	width: 100%;
	border: none;
	outline: none;
	text-align: left;
	cursor: pointer;
	font-size: 20px;
    font-family: 'Montserrat';
    line-height: 3rem;
	}

.tab button:hover 
	{
	background-color: #d8d8d8;
    color: #e0591a;
    font-weight: bold;
    box-shadow: 6px 9px 12px rgba(0, 0, 0, 0.247) inset;
    transition-duration: 0.5s;
	}

.tab button.active 
	{
	background-color: #d1d0d0;
    color: #e0591a;
    font-weight: bold;
	}

.tab button {
    text-align: center;
}

.tab button i {
    display: block;
    font-size: 25px;
}

.tabcontent 
	{
	padding: 30px 20px;
	border: none;
	width: 95%;
	border-left: none;
	height: 400px;
	}

.tabcontent img {
    width: 110px;
    margin-bottom: -25px;
}

.chave-pix {
    background-color: #fcfcfc;
    padding: 8px 12px;
    border-radius: 20px;
    box-shadow: 6px 9px 12px rgba(0, 0, 0, 0.247);
    max-width: 300px;
    border: 1px solid #d1d1d1;	
}

.finish {
    padding: 10px 20px;
    background-color: #e0591a;
    color: #fcfcfc;
    border-radius: 5px;
    margin-top: 20px;
}

.finish:hover {
    animation: btn 0.8s infinite alternate ease-in-out;
    cursor: pointer;
}

.compra {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.compra p{
    margin-top: 30px;
    font-weight: bold;
    color: #e0591a;
}


input[type="text"], input[type="password"]
	{
	display: block;
	box-sizing: border-box;
	border: none;
	border-bottom: 6px solid;
	background: #ffffff;
	padding: 8px;
	margin: 0px 0px 2px 0px;
	border: 1px solid #d1d1d1;		
	width: 260px;
    border-radius: 20px;
    box-shadow: 6px 9px 12px rgba(0, 0, 0, 0.247);
    transition-duration: 0.6s;
	}
	
p
	{
	margin: 10px 0px 3px 0px;
	font-size: 17px;
	font-width: 17px strong;
	
	}

    input[type="text"]:hover, input[type="password"]:hover {
        transition-duration: 0.6s;
        transform: scale(1.04);
    }
	
input[type="submit"], input[type="reset"]
		{
		background-color: #d9d9d9;
		color: black;
		padding: 10px 20px;
		margin: 15px 10px 20px 40px;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		width: 15%;
		text:strong;
		}

@media (max-width: 500px) {
    .tab button {
        font-size: 15px;
    }

    input[type="text"], input[type="password"] {
        width: 230px;
    }

    .compra {
        margin-top: 20px;
    }

    .chave-pix {
        font-size: 13px;
    }
}

@keyframes btn {
    0% {
      transform: scale(1); 
    } 100% {
      transform: scale(1.05); 
    }
  }