body {
    background: rgba(0, 0, 0, 0.808) url('https://img.freepik.com/vetores-premium/padrao-sem-emenda-de-fast-food-com_202271-545.jpg');
    background-blend-mode: darken;
    background-position: center;
    
}