main .home2 {
    background: linear-gradient(rgb(168, 168, 168), rgb(121, 205, 253));
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
    padding: 80px 20px;
}

main .home2 .content {
    max-width: 450px;
}

main .home2 .content h1 {
    font-size: 3rem;
    color: (18, 41, 56);
}

main .home2 .content p {
    font-size: 20px;
    margin: 20px 0;
    color: rgb(68, 68, 68);
}

main .home2 .content a {
    display: inline-block;
    font-size: 18px;
    color: white;
    background: #0770b6;
    padding: 15px 20px;
    border-radius: 5px;
}

main .home2 img {
    width: 500px;
    height: 450px;  
}

main .home2 .content a:hover {
    animation: btn 0.5s infinite alternate ease-in-out; 
}

@media (max-width:500px){
  .home2 {
      padding: 0.5rem 4% 0px;
  }

  main .home2 .content h1{
      color: rgb(18, 41, 56);
      font-size: 2.3rem;
  }

  main .home2 img {
      max-width: 380px;
      max-height: 320px;
  }

  main .home2 .content p{
      font-size: 1.2rem;
  }
}
  
  @keyframes btn {
    0% {
      transform: scale(1); 
    } 100% {
      transform: scale(1.05); 
    }
  }