main .feedback {
    background: linear-gradient(rgb(216, 196, 196), rgb(177, 222, 248));
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
    padding: 80px 20px;
    box-shadow: 6px 9px 12px rgba(0, 0, 0, 0.247) inset;
}

main .feedback .content {
    max-width: 750px;
}

main .feedback .content h1 {
    font-size: 3rem;
    color: (18, 41, 56);
}

main .feedback .content p {
    font-size: 20px;
    margin: 20px 0;
    color: rgb(68, 68, 68);
}

main .feedback .content a {
    display: inline-block;
    font-size: 18px;
    color: white;
    background: #0770b6;
    padding: 15px 20px;
    border-radius: 5px;
}

main .feedback img {
    width: 500px;
    height: 450px;  
}

main .feedback .content a:hover {
    animation: btn 0.5s infinite alternate ease-in-out; 
}

@media (max-width:500px){
  .feedback {
      padding: 0.5rem 4% 0px;
  }

  main .feedback .content h1{
      color: rgb(18, 41, 56);
      font-size: 2.3rem;
  }

  main .feedback img {
    max-width: 360px;
    max-height: 300px;
  }

  main .feedback .content p{
      font-size: 1.2rem;
  }
}
  
  @keyframes btn {
    0% {
      transform: scale(1); 
    } 100% {
      transform: scale(1.05); 
    }
  }