body {
    background: rgba(252, 250, 250, 0.808) url('https://img.freepik.com/vetores-gratis/ilustracao-de-livro-de-colorir-kawaii-desenhado-a-mao_23-2149726544.jpg?w=740&t=st=1686146013~exp=1686146613~hmac=a16b21247f135cc8167fbe97903b344e0ebb968217fb0514d7a11424b3b9007e');
    background-blend-mode: darken;
    background-position: center;
}